 /* Global styles */
 body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header h2 {
    margin: 0;
    padding: 10px 0;
    color: #333;
    border-bottom: 2px solid #ccc;
}
.welcome-msg {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}
.complaint {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.complaint h3 {
    margin-top: 0;
    color: #333;
    font-size: 18px;
}
.complaint p {
    margin-bottom: 5px;
    color: #666;
}
.complaint .details {
    margin-top: 10px;
    color: #888;
    display: none; /* Initially hide details */
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
}