body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    z-index: 999;
}

.sidebar.active {
    left: 0;
}

.sidebar-toggle {
    position: fixed;
    left: 10px;
    top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.sidebar-toggle:hover {
    background-color: #555;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 20px;
    color: white;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #555;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #fff;
}

.dashboard-container {
    margin-left: 120px; /* Adjust for the sidenav */
    padding: 80px 20px; /* Adjust for the header */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.dashboard-box {
    flex: 1;
    min-width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.dashboard-box h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.dashboard-box p {
    font-size: 24px;
    color: #4CAF50;
    margin: 10px 0 0 0;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.filter-form label {
    font-weight: bold;
    color: #555;
    flex: 1 0 auto;
    margin-right: 10px;
}

.filter-form input[type="date"], .filter-form select {
    flex: 1 0 180px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.filter-form button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.filter-form button[type="submit"]:hover {
    background-color: #45a049;
}

   /* Custom styles for the chart container */
   .chart-container {
    position: relative;
    width: 400px; /* Adjust the width */
    height: 400px; /* Adjust the height */
    margin: auto; /* Center the chart */
}